{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = user.email  %}

{% set crumbs = [
    { label: "Social Login"|t('social'), url: url('social') }
] %}

{% set content %}

    <a href="{{ user.cpEditUrl }}"><img width="80" src="{{ user.getThumbUrl(80) }}" /></a>

    <ul>
        <li><strong>{{ "Username:"|t('social') }}</strong> <a href="{{ user.cpEditUrl }}">{{ user.username }}</a></li>
        <li><strong>{{ "Email:"|t('social') }}</strong> {{ user.email }}</li>
    </ul>

    <hr>

    <h2>{{ "Login Accounts"|t('social') }}</h2>

    <div id="nologinaccounts"{% if loginAccounts|length > 0 %} class="hidden"{% endif %}>
        <p>{{ "No login accounts exist yet."|t('social') }}</p>
    </div>

    {% if loginAccounts|length > 0 %}

        <table id="loginAccounts" class="data fullwidth">
            <thead>
                <tr>
                    <th>{{ "Login Provider"|t('social') }}</th>
                    <th>{{ "Social User ID"|t('social') }}</th>
                </tr>
            </thead>

            {% for account in loginAccounts %}

                {% set user = account.user %}
                {% set loginProvider = account.getLoginProvider() %}

                {% if loginProvider %}
                    <tr data-id="{{ account.id }}" data-name="{{ loginProvider.name }}">
                        <td class="provider">
                            <div class="thumb">
                                <img width="20" src="{{ loginProvider.getIconUrl() }}" class="social-icon social-{{ loginProvider.handle }}" />
                            </div>

                            <div class="label">{{ loginProvider.name }}</div>
                        </td>

                        <td>
                            {{ account.socialUid }}
                        </td>

                        <td class="thin">
                            <a class="icon delete" title="{{ 'Disconnect'|t('social') }}"></a>
                        </td>
                    </tr>
                {% endif %}

            {% endfor %}

        </table>

    {% endif %}

    {% js %}
    var adminTable = new Craft.AdminTable({
        tableSelector: '#loginAccounts',
        noObjectsSelector: '#nologinaccounts',
        deleteAction: 'social/login-accounts/delete-login-account',
        confirmDeleteMessage: '{{ "Are you sure you want to unlink “{name}” login account?"|t('social') }}',
    });
    {% endjs %}

{% endset %}
